.text
    &-left
        text-align left

    &-right
        text-align right

    &-center
        text-align center

    &-justify
        text-align justify

    &-nowrap
        text-align nowrap

    &-lowercase
        text-transform lowercase

    &-uppercase
        text-transform uppercase

    &-capitalize
        text-transform capitalize

    &-ellipsis
        ellipsis()

    &-ellipsis-2
        ellipsis(2)

    &-ellipsis-3
        ellipsis(3)
